.page-header.navbar {
    background: #282a3c;
}

.page-content {
    background: #f5f5f5;
}

.page-head {
    margin-bottom: 10px;
}

.page-head .page-title-caption {
    font-size: 25px;
    border-right: 1px solid #ccc;
    padding-right: 15px;
}

.page-head .page-title small {
    padding-left: 10px;
    font-size: 14px;
}

.page-content-wrapper .page-content {
    padding: 0 0 0 30px;
}

.page-head .page-title > h1 {
    color: #3f4047;
    font-family: Roboto;
    font-size: 22px;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

.k-clear-selected {
    display: none !important;
}

.k-upload-selected {
    display: none !important;
}

.k-action-buttons {
    display: none !important;
}

.margin-bottom-0 {
    margin-bottom: 0px !important;
}

.ajax-loading {
    display: none;
    position: fixed;
    z-index: 10060;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba( 255, 255, 255, .8 ) url('../img/ajax-loader.gif') 50% 50% no-repeat;
}

body.loading .ajax-loading {
    overflow: hidden;
}

body.loading .ajax-loading {
    display: block;
}

.k-grid-content-locked {
    height: auto !important;
}

.k-grid-content {
    min-height: 50px !important;
}

.k-grid .k-grid-header .k-header .k-link .k-column-title {
    height: auto;
    white-space: normal;
    text-align: center;
}

.k-disabled {
    background-color: #eef1f5;
    border: 1px solid #c2cad8;
    color: #000;
    opacity: inherit;
}

.btnClear {
    background-color: #76dade;
    border-color: #76dade;
    color: white;
}

.new-help-book {
    display: inline-grid;
    width: 10%;
    float: right;
    color: red;
}

.input-error {
    border: 1px solid #f00 !important;
}